---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import coverImage from "../assets/cover.jpg";
import { getCollection } from "astro:content";

const representativeStudent = (await getCollection("students")).find(
  (item) => item.data.email === "kkm959595@postech.ac.kr"
);
---

<Layout transparentHeaderOnTop>
  <main class:list={[]}>
    <div class:list={["w-full", "h-screen", "relative"]}>
      <h1
        class:list={[
          "text-white",
          "text-2xl md:text-[64px]",
          "font-serif",
          "font-bold",
          "absolute",
          "bottom-6 md:bottom-10",
          "left-6 md:left-10",
          "z-10",
          "w-1/2",
        ]}
      >
        Strive to Understand <i>Human Intelligence</i> through the <i
          >Computational Lens</i
        >
      </h1>

      <Image
        src={coverImage}
        alt="Cover Image"
        class:list={[
          "w-full",
          "h-full",
          "object-cover",
          "object-bottom",
          "brightness-50",
        ]}
      />
    </div>
  </main>
</Layout>
