---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import coverImage from "../assets/cover.jpg";
import { getCollection } from "astro:content";

const news = (await getCollection("news"))
  .toSorted((a, b) => {
    if (a.data.date !== b.data.date) {
      return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
    }
    return a.data.title.localeCompare(b.data.title);
  })
  .slice(0, 5);
---

<Layout transparentHeaderOnTop>
  <main class:list={[]}>
    <div class:list={["w-full", "h-100 md:h-screen", "relative"]}>
      <h1
        class:list={[
          "text-white",
          "text-2xl md:text-[64px]",
          "font-serif",
          "font-bold",
          "absolute",
          "bottom-6 md:bottom-10",
          "left-6 md:left-10",
          "z-10",
          "w-1/2",
        ]}
      >
        Strive to Understand <i>Human Intelligence</i> through the <i
          >Computational Lens</i
        >
      </h1>
      <Image
        src={coverImage}
        alt="Cover Image"
        class:list={[
          "w-full h-full",
          "object-cover",
          "object-bottom",
          "brightness-50",
        ]}
      />
    </div>
    <div
      class:list={[
        "px-6 md:px-10",
        "my-20",
        "grid grid-cols-1 md:grid-cols-12 gap-10",
      ]}
    >
      <h2 class:list={["col-span-6", "text-6xl", "font-bold", "font-serif"]}>
        Mission
      </h2>
      <p class:list={["col-span-6", "text-2xl"]}>
        At <i class:list={["font-serif"]}>Machine Learning Lab</i>, located at
        POSTECH, we aim to push the boundaries of knowledge in the field of
        machine learning. Our mission is to advance the field of machine
        learning by conducting cutting-edge research and fostering collaboration
        among researchers, students, and industry partners.
      </p>
    </div>
    <div
      class:list={[
        "px-6 md:px-10",
        "my-20",
        "grid grid-cols-1 md:grid-cols-12 gap-10",
      ]}
    >
      <h2 class:list={["col-span-6", "text-6xl", "font-bold", "font-serif"]}>
        Latest News
      </h2>
      <ul class:list={["col-span-6", "space-y-4", "text-lg"]}>
        {
          news.map((item) => (
            <li class:list={["border-t", "border-black/50", "pt-4"]}>
              <span class:list={["text-xl"]}>{item.data.title}</span>
              <p class:list={["text-sm", "italic"]}>
                {new Date(item.data.date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </p>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
