---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Cite } from "@citation-js/core";
import "@citation-js/plugin-bibtex";
import "@citation-js/plugin-csl";

const publications = (await getCollection("publications"))
  .toSorted((a, b) => {
    if (a.data.issued && b.data.issued && a.data.issued !== b.data.issued) {
      return (
        new Date(b.data.issued["date-parts"][0][0]).getTime() -
        new Date(a.data.issued["date-parts"][0][0]).getTime()
      );
    }
    return a.data.title.localeCompare(b.data.title);
  })
  .map((item) => new Cite(item.data));

console.log(publications[0].data[0]);
---

<Layout>
  <main class:list={[]}>
    <div
      class:list={[
        "px-6 md:px-10",
        "mt-[96px] mb-[96px] md:mb-[128px]",
        "grid grid-cols-1 md:grid-cols-12 gap-4",
      ]}
    >
      <h1
        class:list={[
          "col-span-8",
          "font-serif",
          "text-[60px] md:text-[120px]",
          "font-bold",
          "-mt-8",
        ]}
      >
        Publications
      </h1>
      <p class:list={["col-span-4", "text-2xl"]}>
        From core algorithms and theoretical insights to applied systems
        tackling perception, language, and decision making.
      </p>
    </div>
    <ul class:list={["px-10", "space-y-10", "mb-20"]}>
      {
        publications.map((publication) => (
          <li class:list={["border-t border-black/50", "pt-4"]}>
            <h2 class:list={["font-medium", "text-xl"]}>
              {publication.data[0].title}
            </h2>
            <p class:list={["text-sm"]}>
              {publication.data[0]["container-title"]}
            </p>
            <p class:list={["text-sm", "italic"]}>
              {publication.data[0].author
                .map((a: any) => `${a.given} ${a.family}`)
                .join(", ")}
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<script>
  import { animate } from "motion";

  document
    .querySelectorAll(".enter-bottom-to-top")
    .forEach((element, index) => {
      animate(
        element,
        {
          transform: ["translateY(256px)", "translateY(0px)"],
        },
        {
          duration: 0.25,
          delay: index * 0.05,
          type: "spring",
          stiffness: 64,
          damping: 16,
        }
      );
    });
</script>
