---
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry, render } from "astro:content";

const researchTopics = (
  await Promise.all(
    (await getCollection("research")).map(async (item) => {
      const advisor = await getEntry(item.data.advisor);
      const mentor = item.data.mentor
        ? await getEntry(item.data.mentor)
        : undefined;
      const { Content } = await render(item);
      return {
        ...item,
        data: {
          ...item.data,
          advisor,
          mentor,
        },
        Content,
      };
    })
  )
).toSorted((a, b) => {
  if (a.data.advisor.data.name !== b.data.advisor.data.name) {
    return a.data.advisor.data.name.localeCompare(b.data.advisor.data.name);
  }
  return a.data.title.localeCompare(b.data.title);
});
---

<Layout>
  <main class:list={[]}>
    <div
      class:list={[
        "px-6 md:px-10",
        "mt-[160px] mb-[80px] md:mb-[128px]",
        "grid grid-cols-1 md:grid-cols-12 gap-4",
      ]}
    >
      <h1
        class:list={[
          "col-span-8",
          "font-serif",
          "text-[60px] md:text-[120px]",
          "font-bold",
          "-mt-8",
        ]}
      >
        Research
      </h1>
      <p class:list={["col-span-4", "text-2xl"]}>
        Our research spans core machine learning algorithms, theoretical
        insights, and applied systems for perception, language, and decision
        making.
      </p>
    </div>
    <div class:list={["grid grid-cols-12", "gap-10", "mb-20", "px-6 md:px-10"]}>
      {
        researchTopics.map((item) => (
          <div
            class:list={[
              "border-t border-black/50",
              "col-span-12 md:col-span-6",
            ]}
          >
            <h2
              class:list={[
                "text-center",
                "font-serif",
                "text-3xl",
                "pt-10 mb-4",
                "mx-10",
              ]}
            >
              {item.data.title}
            </h2>
            <p class:list={["text-sm", "text-gray-700", "text-center", "mb-4"]}>
              {item.data.advisor.data.name}
              {item.data.mentor ? ` · ${item.data.mentor.data.name}` : ""}
            </p>
            <item.Content class:list={["prose", "max-w-none"]} />
          </div>
        ))
      }
    </div>
  </main>
</Layout>
