---
import Wordmark from "./Wordmark.astro";
---

<footer class:list={["bg-black", "text-white", "py-10"]}>
  <div class:list={["grid grid-cols-12", "px-6 md:px-10", "mb-10"]}>
    <p class:list={["col-span-12 md:col-span-8", "mb-10"]}>
      <span class:list={["text-2xl", "font-serif", "block"]}
        >Machine Learning Lab</span
      >
    </p>
    <div class:list={["col-span-6 md:col-span-2"]}>
      <h2 class:list={["border-b", "border-black", "mb-2", "text-xs"]}>
        About Us
      </h2>
      <ul class:list={["list-none", "space-y-1", "text-sm"]}>
        <li>
          <a href="/people" class:list={["underline"]}>People</a>
        </li>
        <li>
          <a href="/publications" class:list={["underline"]}>Publications</a>
        </li>
        <li>
          <a href="/research" class:list={["underline"]}>Research</a>
        </li>
        <li>
          <a href="/news" class:list={["underline"]}>News</a>
        </li>
      </ul>
    </div>
    <div class:list={["col-span-6 md:col-span-2"]}>
      <h2 class:list={["border-b", "border-black", "mb-2", "text-xs"]}>
        Follow Us
      </h2>
      <ul class:list={["list-none", "space-y-1", "text-sm"]}>
        <li>
          <a
            href="https://github.com/ml-postech"
            target="_blank"
            rel="noopener noreferrer"
            class:list={["underline"]}>GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div
    class:list={[
      "flex",
      "justify-between",
      "items-center",
      "px-6 md:px-10",
      "text-xs",
    ]}
  >
    <a
      href="https://postech.ac.kr"
      target="_blank"
      rel="noopener noreferrer"
      class:list={["w-24", "max-smmb-2"]}
    >
      <Wordmark />
    </a>
    <a
      href="https://www.postech.ac.kr/kor/usage-guide(privacy_policy.do"
      class:list={["underline"]}
    >
      Privacy Policy
    </a>
  </div>
</footer>
