---
interface Props {
  transparentOnTop?: boolean;
}

const { transparentOnTop = false } = Astro.props;
---

<header
  id="header"
  class:list={[
    "fixed",
    "top-0",
    "z-10",
    "bg-[#fafafa]",
    "border-b border-black border-black/50",
    "transition-all",
    "px-10 py-5",
    "text-sm",
    "w-full",
    "text-black",
  ]}
>
  <div class:list={["grid grid-cols-12", "place-items-center"]}>
    <ul
      class:list={[
        "col-span-4",
        "flex justify-start",
        "gap-4",
        "list-none",
        "m-0",
        "p-0",
        "max-md:hidden",
        "w-full",
      ]}
    >
      <li>
        <a class:list={["underline"]} href="/people">People</a>
      </li>
      <li>
        <a class:list={["underline"]} href="/publications">Publications</a>
      </li>
      <li>
        <a class:list={["underline"]} href="/news">News</a>
      </li>
      <li>
        <a class:list={["underline"]} href="/research">Research</a>
      </li>
    </ul>
    <div class:list={["col-span-4", "flex justify-center"]}>
      <a
        href="/"
        class:list={["font-serif", "text-xl", "font-bold", "col-span-2"]}
        >Machine Learning Lab</a
      >
    </div>

    <div class:list={["col-span-4", "flex justify-end", "gap-4", "w-full"]}>
      <a
        class:list={["underline"]}
        href="https://postech.ac.kr"
        target="_blank"
        rel="noopener noreferrer"
      >
        POSTECH</a
      >
    </div>
  </div>
</header>

<script define:vars={{ transparentOnTop }}>
  const header = document.getElementById("header");

  function updateHeader() {
    if (window.scrollY > window.innerHeight) {
      header?.classList.add("bg-[#fafafa]");
      header?.classList.add("text-black");
      header?.classList.add("border-black/50");
      header?.classList.add("border-b");
      header?.classList.remove("text-white");
    } else {
      header?.classList.remove("bg-[#fafafa]");
      header?.classList.remove("text-black");
      header?.classList.add("text-white");
      header?.classList.remove("border-black/50");
      header?.classList.remove("border-b");
    }
  }

  if (transparentOnTop) {
    updateHeader();
    window.addEventListener("scroll", updateHeader);
  } else {
    window.removeEventListener("scroll", updateHeader);
  }
</script>
