<header class:list={["sticky", "top-0", "z-10", "bg-white", "max-sm:text-xs"]}>
  <div
    class:list={[
      "mx-4",
      "py-2",
      "border-b border-black",
      "flex justify-between",
    ]}
  >
    <a href="/">Machine Learning Lab</a>
    <ul class:list={["flex", "gap-4", "list-none", "m-0", "p-0"]}>
      <li>
        <a class:list={["underline"]} href="/people">People</a>
      </li>
      <li>
        <a class:list={["underline"]} href="/publications">Publications</a>
      </li>
      <li>
        <a class:list={["underline"]} href="/news">News</a>
      </li>
      <li>
        <a class:list={["underline"]} href="/research">Research</a>
      </li>
    </ul>
    <a href="https://postech.ac.kr" target="_blank" rel="noopener noreferrer">
      POSTECH</a
    >
  </div>
</header>
