<header class:list={["sticky", "top-0", "z-10", "bg-white", "max-sm:text-xs"]}>
  <div
    class:list={[
      "mx-4",
      "py-2",
      "border-b border-black",
      "flex justify-between",
    ]}
  >
    <a href="/">Machine Learning Lab</a>
    <a href="https://postech.ac.kr" target="_blank" rel="noopener noreferrer">
      POSTECH</a
    >
  </div>
</header>
