a {
  color: #007a7a;
}
body {
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  /* text-transform: uppercase; */
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 14px;
  background-color: white;
}

.sub-text {
  font-weight: normal;
  color: #aaa;
}
.content {
  width: 80%;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}


.navbar {
  font-family: "Montserrat";
  height: 65px;
  background-color: #E5E5E5;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}
.navbar-home {
  font-family: "Montserrat";
  height: 65px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}
.navbar-brand {
  margin-left: 30px;
  padding-top: 22px;
  height: 100%;
  font-size: 24px;
}
.nav-tabs {
  margin-right: 30px;
  border: none;
  padding-top: 10px;
}
.nav-tabs > li {
  font-size: 18px;
  height: 100%;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  background-color: #E5E5E5;
  border: none;
  color: #666;
}
.nav-tabs-home > li > a,
.nav-tabs-home > li > a:focus,
.nav-tabs-home > li > a:hover {
  background-color: white;
  border: none;
  color: #666;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #E5E5E5;
  font-weight: bold;
  border: none;
  border-bottom: 10px solid black;
}
.nav-tabs-home > li.active > a,
.nav-tabs-home > li.active > a:focus,
.nav-tabs-home > li.active > a:hover {
  background-color: white;
  font-weight: bold;
  border: none;
  border-bottom: 10px solid black;
}

.tab-content {
  margin-top: 65px;
}

.front-panel {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.front-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/front_image.jpg");
  background-position: center 60%;
  background-size: cover;
  opacity: 60%;
  z-index: -1;
}
.front-title {
  font-family: "Montserrat";
  padding-top: 80px;
}
.home-header {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: black;
}
.home-sub {
  text-align: center;
  font-size: 18px;
}

.header {
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.news-item {
  padding: 10px 40px 0 40px;
}

.profile-image {
  float:left;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 80px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 30px;
}
.profile-image img {
  width: 100%;
  height: auto;
}

.profile-info {
  float:left;
  margin-left: 25px;
}

.research {
  padding: 20px 50px;
  background-position: 90% 90%;
  background-repeat: no-repeat;
  background-size: auto 60%;
}
.research-title {
  border-left: 5px solid #ebb810;
  padding-left: 20px;
}
.research-content {
  padding-left: 25px;
}
.research-1 {
  background-image: url("../img/research-1.png");
}
.research-2 {
  background-image: url("../img/research-2.png");
}
.research-3 {
  background-image: url("../img/research-3.png");
}
.research-4 {
  background-image: url("../img/research-4.png");
}

ul.a {
  list-style-position: outside;
}

.input-group {
  width: 320px;
}
.input-group-addon {
  color: black;
  background-color: #ebb810;
  height:38px;
  border-radius: 15px 0 0 15px;
  border: 1px solid #ccc;
}
.input-group > input {
  height:40px;
  padding-left: 15px;
  border-radius: 0 15px 15px 0;
  border: 1px solid #ccc;
}
