---
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/libre-caslon-condensed";
import "../styles/global.css";

interface Props {
  transparentHeaderOnTop?: boolean;
}

const { transparentHeaderOnTop = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      slot="head"
      title="ML@POSTECH"
      description={"Machine Learning Lab at POSTECH"}
      openGraph={{
        basic: {
          title: "ML@POSTECH",
          type: "article",
          image: "",
        },
        article: {
          tags: [
            "Machine Learning",
            "Artificial Intelligence",
            "POSTECH",
            "Research",
            "Computer Science",
            "Pohang University of Science and Technology",
          ],
        },
      }}
      twitter={{
        card: "summary",
        title: "ML@POSTECH",
        description: "Machine Learning Lab at POSTECH",
      }}
    />
  </head>
  <body
    class:list={[
      "selection:bg-[#c80150]",
      "selection:text-white",
      "bg-[#fafafa]",
    ]}
  >
    <Header transparentOnTop={transparentHeaderOnTop} />
    <slot />
    <Footer />
  </body>
</html>
