---
import "@fontsource/libre-caslon-condensed";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header class:list={["sticky", "top-0", "z-10", "bg-white"]}>
      <div
        class:list={[
          "mx-4",
          "py-2",
          "border-b border-black",
          "flex justify-between",
        ]}
      >
        <a href="/">Machine Learning Lab</a>
        <a
          href="https://postech.ac.kr"
          target="_blank"
          rel="noopener noreferrer"
        >
          POSTECH</a
        >
      </div>
    </header>
    <slot />
  </body>
</html>
