---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/libre-caslon-condensed";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class:list={["selection:bg-[#c80150]", "selection:text-white"]}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
